<div class="artist-modal js-artist-modal">
  <div class="contain artist-modal__container">
    <div class="artist-modal__content">
      <button
        class="artist-modal__close-btn"
        type="button"
        data-artist-modal-close
        aria-label="Close modal"
      >
        <svg class="artist-modal__close-icon" width="32" height="32">
          <use href="../img/sprite.svg#icon-artist-modal-close-icon"></use>
        </svg>
      </button>
      <span class="artist-modal__loader js-artist-modal-loader"></span>
      <div class="artist-modal__body js-artist-modal-body">
        <div class="artist-modal__inner js-artist-modal-inner"></div>
      </div>
    </div>
  </div>
</div>
